@import '../../../node_modules/react-big-calendar/lib/sass/styles';

.calendar-body {
    width: 100%;
    position: relative;

    &__loader {
        display: flex;
        position: absolute;
        bottom: 0;
        z-index: 999;
        width: 85svw;
        height: calc(var(--rbc-month-view-height) - var(--toolbar-height));
        backdrop-filter: blur(10px);
    }
}

.rbc-header {
    text-transform: uppercase;
}

.rbc-month-view {
    background-color: var(--bg-color);
    height: var(--rbc-month-view-height);
}

.rbc-calendar {
    font: var(--font-s);
    width: 100%;
    height: var(--rbc-month-view-height);
}

.rbc-show-more {
    color: var(--primary-color);
    background-color: transparent;

    &:hover {
        color: var(--primary-color);
        cursor: initial;
    }
}

.rbc-toolbar-label {
    font: var(--font-l);
}

.rbc-off-range-bg {
    background-color: var(--rbc-off-range-bg);
}

.rbc-today {
    background-color: var(--rbc-today);
}

.rbc-event-content {
    color: var(--bg-color);
    min-height: auto;
    line-height: normal;
}

.rbc-btn-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.rbc-btn-group button {
    cursor: pointer;
}

.rbc-btn-group button:nth-child(1) {
    display: none;
}

.rbc-btn-group button:nth-child(2) {
    border-radius: 5px;
}

.rbc-btn-group button:nth-child(3) {
    border-radius: 5px;
}

.rbc-event {
    outline: none;
    padding: 2px 4px;
    background-color: var(--primary-event-color);

    &:focus {
        outline: none;
    }
}

.rbc-btn-group:last-child {
    display: none;
}

.rbc-event-content {
    font: var(--font-s);
}

.rbc-button-link {
    font: var(--font-s);
}

.rbc-day-bg:hover {
    cursor: pointer;
    background-color: var(--rbc-today);
}

@media (width <= 500px) {
    .rbc-toolbar-label {
        font: var(--font-m);
    }
}
