@import 'react-big-calendar/lib/sass/styles';

.calendar-body {
    width: 100%;
}

.rbc-header {
    text-transform: uppercase;
}

.rbc-month-view {
    border-radius: 15px;
    background-color: white;
}

.rbc-calendar {
    font: var(--font-s);
}

.rbc-toolbar-label {
    font: var(--font-l);
}

.rbc-event-content {
    min-height: auto;
    line-height: normal;
}

.rbc-allday-cell {
    display: none;
}

.rbc-btn-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.rbc-btn-group button {
    cursor: pointer;
}

.rbc-btn-group button:nth-child(1) {
    display: none;
}

.rbc-btn-group button:nth-child(2) {
    border-radius: 5px;
}

.rbc-btn-group button:nth-child(3) {
    border-radius: 5px;
}

.rbc-event {
    outline: none;
    padding: 2px 4px;
    background-color: var(--primary-color);

    &:focus {
        outline: none;
    }
}

.rbc-btn-group:last-child {
    display: none;
}

.rbc-event-content {
    font: var(--font-s);
}

.rbc-button-link {
    font: var(--font-s);
}

.rbc-day-bg:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

@media (width <= 500px) {
    .rbc-toolbar-label {
        font: var(--font-m);
    }
}
