.App.dark {
    --bg-color: #000639;
    --inverted-bg-color: #e5e5ff;
    --primary-color: #097e0a;
    --secondary-color: #5fd330;
    --inverted-primary-color: #042c9c;
    --inverted-secondary-color: #2654f4;
}