.App {
    --bg-color: #e7e7ff;
    --inverted-bg-color: #000639;
    --primary-color: rgba(4, 44, 156, 0.87);
    --secondary-color: #2654f4;
    --inverted-primary-color: #097e0a;
    --inverted-secondary-color: #5fd330;
}
