.NoteModal {

    &__custom-dialog {
        padding: 1.5rem;
        display: block;
        width: 85vw;
        height: 75vh;
        overflow-y: auto;
        background: #afafaf;
        border-radius: 10px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #a1a1a1;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(143, 143, 143);
            border-radius: 20px;
            border: rgb(143, 143, 143);
        }
    }

    &__close-button {
        font: var(--font-s);
        position: relative;
        right: 0;
        text-align: right;
    }
}
